body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: hsl(240, 100%, 60%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
}

button:hover {
    background-color: hsl(240, 100%, 70%);
}

button:active {
    background-color: hsl(240, 100%, 80%);
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: #e2f4f1;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font-size: 1rem; /* Adjust font size for better readability */
}

.editBtn {
    background-color: hsl(50, 100%, 70%);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.editBtn:hover {
    background-color: hsl(120, 100%, 70%);
}

.editBtn:active {
    background-color: hsl(120, 100%, 80%);
}

.deleteBtn {
    background-color: hsl(0, 100%, 60%);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: hsl(0, 100%, 70%);
}

.deleteBtn:active {
    background-color: hsl(0, 100%, 80%);
}

#addBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}

#taskInput{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
        padding: 12px 15px;
    }

    li {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .editBtn, .deleteBtn {
        margin-top: 5px;
        width: 100%;
    }

    .editBtn {
        background-color: hsl(120, 100%, 60%);
        margin-bottom: 5px;
    }

    .deleteBtn {
        background-color: hsl(0, 100%, 60%);
    }
}